<div id="sidebar" class="leaflet-sidebar collapsed">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist">
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li><a href="#point" role="tab"><i class="fas fa-drafting-compass"></i></a></li>
            <li><a href="#navigate" role="tab"><i class="fas fa-crosshairs"></i></a></li>

            <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li>
        </ul>

        <ul role="tablist">
            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="leaflet-sidebar-content">
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header" style="background: #AFB42B;color: #222222">
                {{op_name}}
                <span class="leaflet-sidebar-close"><i class="fa fa-caret-right"></i></span>
            </h1>
            {{op_text}}
        </div>

        <div class="leaflet-sidebar-pane" id="point">
            <h1 class="leaflet-sidebar-header">Tactica Drawer<span class="leaflet-sidebar-close"><i
                    class="fa fa-caret-right"></i></span></h1>
            <p>add / delete / modify  custom NATO marker to te map  </p>
        </div>
        <div class="leaflet-sidebar-pane" id="navigate">
            <h1 class="leaflet-sidebar-header">Navigate to tiles<span class="leaflet-sidebar-close"><i
                    class="fa fa-caret-right"></i></span></h1>
            <p>navigate to map, get center</p>
        </div>

        <div class="leaflet-sidebar-pane" id="messages">
            <h1 class="leaflet-sidebar-header">Messages<span class="leaflet-sidebar-close"><i
                    class="fa fa-caret-right"></i></span></h1>
        </div>

        <div class="leaflet-sidebar-pane" id="settings">
            <h1 class="leaflet-sidebar-header">Settings<span class="leaflet-sidebar-close"><i
                    class="fa fa-caret-right"></i></span></h1>
        </div>
    </div>
</div>


<div id="mapDiv"></div>



