#mapDiv {
  margin-top: 0px;
  height: 800px;
  width: 100%;
}

.crosshairs:before, .crosshairs:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 999;
  pointer-events: none;
}
.crosshairs:before {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 1px #bc0022 solid;
}
.crosshairs:after {
  right: 50%;
  top: 50%;
  transform: translate(0, -50%);
  border-right: 1px #bc0b1a solid;
}


