<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-dark bg-dark">
  <!--  <button [matMenuTriggerFor]="menu" mat-button>Menu</button> -->

  <span class="logo-text"></span>
  <h1>JSOC</h1>
  <img src="../assets/logo.png" style="max-height: 60px;text-align: center" alt="">
  <h1>TAURI</h1>
  <span class="logo-text"></span>
</nav>


<div>
  <app-map></app-map>
</div>

<footer style="text-align: center">Made with <i class="fas fa-heart"></i> : Mangusta & BlackHat</footer>

