<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="topbar mat-m" color="primary">
    <!--  <button [matMenuTriggerFor]="menu" mat-button>Menu</button> -->

    <span class="example-fill-remaining-space"></span>
    <h1>JSOC</h1>
    <img src="../assets/logo.png" style="max-height: 60px;text-align: center" alt="">
    <h1>TAURI</h1>
    <span class="example-fill-remaining-space"></span>

</mat-toolbar>


<mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
</mat-menu>

<div>
    <app-map></app-map>
</div>

<footer style="text-align: center">Made with <i class="fas fa-heart"></i> : Mangusta </footer>

