<mat-card>
    <h4>Center map to:</h4>
    <div class="row">
        <div class="col-2"><h5 style="text-align: center">UTM 32T</h5></div>
        <div class="col-4">
            <input style="margin: 0 auto;padding: 0" class="form-control" placeholder="NORD" maxlength="6" #gotoNord>
        </div>
        <div class="col-4">
            <input class="form-control  " placeholder="EST" maxlength="7" #gotoEst>
        </div>
    </div>

    <button class="btn-lg btn-danger col-12" (click)="centerToUTM(gotoNord.value,gotoEst.value,15) "> goto</button>
</mat-card>

<P></P>
<mat-card>
    <h3 style="font-weight: bold;">Center map on:</h3>
    <h4>{{getCenter()}}</h4>
</mat-card>

<p></p>
<div class="card">
    <div class="card-body">
        <h3>ADD WAYPOINT</h3>
        <p></p>
        <div class="row">
            <div class="col-4"><h5 style="text-align: center">UTM 32T</h5></div>
            <div class="col-4">
                <input style="margin: 0 auto;padding: 0" class="form-control" placeholder="NORD" maxlength="6" #wpNord>
            </div>
            <div class="col-4">
                <input class="form-control  " placeholder="EST" maxlength="7" #wpEst>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-3">
                <h5 style="text-align: center">LABEL</h5>
            </div>
            <div class="col-9">
                <input type="text " class="form-control" placeholder="LABEL" #wpLabel>
            </div>
        </div>


        <p></p>
        <div class="row">
            <div class="col-6">
                <button class="btn-lg btn-danger"
                        (click)="addWaypoint(wpNord.value,wpEst.value,wpLabel.value)"> add waypoint
                </button>
            </div>
            <div class="col-6">
                <button class="btn-lg btn-danger"
                        (click)="getCenter()"> Insert Center
                </button>
            </div>
        </div>
    </div>
</div>
<p></p>


<div class="card">
    <div class="card-body">
        <table class="table">
            <tbody>
            <tr *ngFor="let l of x.features">
                <td>{{l.properties.name}}</td>
                <td>
                    <button class="btn-secondary"
                            (click)="centerToLatLng(l.geometry.coordinates[1],l.geometry.coordinates[0],18)"> center to
                    </button>
                </td>
                <td>
                    <button class="btn-danger" (click)="removeWaypoint(l.properties.id)"> X</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


