<mat-card>
    <h4>Coordinate</h4>
    <p>latitudine longitudine</p>
    <div class="row">
        <mat-form-field class="col-sm-4">
            <input type="number" matInput #coordinateE placeholder="Nord" maxlength="6">
            <mat-hint>{{coordinateE.value.length}} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field class="col-sm-4">
            <input type="number" matInput #coordinateN placeholder="Est" maxlength="7">
            <mat-hint>{{coordinateN.value.length}} / 7</mat-hint>
        </mat-form-field>
        <button class="btn-lg btn-danger" (click)="centerTo(coordinateE.value,coordinateN.value,15) "> goto</button>
    </div>

</mat-card>

<P></P>
<mat-card>
    <h4 style="font-weight: bold;">Center map on:</h4>
    <h6>{{getCenter()}}</h6>
</mat-card>

<p></p>
<div class="card">
    <div class="card-body">
        <h3>ADD WAYPOINT</h3>
        <p></p>
        <div class="row">
            <div class="col-4"><h5 style="text-align: center">UTM 32T</h5></div>
            <div class="col-4">
                <input style="margin: 0 auto;padding: 0" class="form-control" placeholder="NORD" maxlength="6" #nord>
            </div>
            <div class="col-4">
                <input class="form-control  " placeholder="EST" maxlength="7" #est>
            </div>
        </div>

        <label>LABEL</label>
        <input type="text " class="form-control" placeholder="LABEL">
        <p></p>
        <div class="row">
            <div class="col-6">
                <button class="btn-lg btn-danger"
                        (click)="addWaypoint()"> add waypoint
                </button>
            </div>
            <div class="col-6">
                <button class="btn-lg btn-danger"
                        (click)="getCenter()"> Insert Center
                </button>
            </div>
        </div>
    </div>
</div>
<p></p>

<mat-card>
    <!-- <p>{{x.features | json}}</p> -->


    <table class="table">
        <tbody>
        <tr *ngFor="let l of x.features">
            <td>{{l.properties.name}}</td>
            <td>
                <button class="btn-secondary"
                        (click)="centerTo(l.geometry.coordinates[1],l.geometry.coordinates[0],18)"> center to
                </button>
            </td>
            <td>
                <button class="btn-danger" (click)="removeWaypoint(l.properties.id)"> X</button>
            </td>
        </tr>

        </tbody>
    </table>
</mat-card>
